#HP3{
background-color:darkorchid;
}
#hp# {
font-size:40px;
}
#Books {
width:400px;
height:300px;
}
#thebook {
font-size:30px;
}
#dorkdiaries13 {
background-color:pink;
}
#13book {
font-size:40px;
}
#the13 {
width:500px;
height:600px;
}
#book13 {
font-size:30px;
}
#dorkdiaries14 {
background-color:goldenrod;
}
#14book {
font-size:40px;
}
#14 {
width:10px;
height:20px;
}
#book14 {
font-size:30px;
}
